{% extends 'layout.twig' %}
{% block body %}
<form action="/news/save/?id={{ article.id }}" method="post">
    <input type="text" name="title" placeholder="Название" value="{{article.title}}"><br>
    <input type="text" name="text" placeholder="Текст" value="{{article.text}}">
    <button type="submit" name="submit">редактировать</button>
</form>
{% endblock %}