{% extends 'layout.twig' %}
{% block body %}
    {% if authErrors == true %}
        <div class="form-error alert-danger">Неверный e-mail или пароль. Введите еще раз</div>
    {% endif %}
<form action="/user/auth" method="post" class="form-group">
    <input type="text" name="email" class="form-control" placeholder="e-mail" required>
    <input type="password" name="password" class="form-control" placeholder="Пароль" required>
    <button type="submit" class="btn btn-success">Войти</button>
</form>
{% endblock %}